<%= form_with model: [@category, @task] do |f| %>

  <% if @task.errors.any? %>
  <div class="container w-full">
    <h4 class="text-2xl font-semibold">Operation failed</h4>
    <p>Please check the following error(s):</p>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li class="list-disc list-inside pl-4">
          <%= message %>
        </li>
        <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.text_field :name, class: "form-input w-full mb-6" , placeholder: "Name" %>
 
  <%= f.text_field :description, class: "form-textarea w-full mb-6" , rows: 10, placeholder: "Description (Optional)" %>

  <%= f.label :deadline %>
  <%= f.date_field :deadline, class: "form-input w-48 ml-2 mb-6", placeholder: "(Optional)" %>

  <div class="flex flex-col w-full items-center lg:flex-row mt-4">

    <%= link_to "Back" , :back , class: "flex items-center px-6 py-2 mt-auto font-semibold text-black transition duration-500 ease-in-out transform bg-yellow-200 rounded-lg hover:bg-yellow-300 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 text-lg border-2 border-gray-400 mr-2 cursor-pointer" %>

    <%= f.submit class: "flex items-center px-6 py-2 mt-auto font-semibold text-black transition duration-500 ease-in-out transform bg-yellow-200 rounded-lg hover:bg-yellow-300 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 text-lg border-2 border-gray-400 cursor-pointer" %>
  
  </div>
  
<% end %>