<%= form_with model: category do |form| %>

  <div class="container">
    <% if category.errors.any? %>
      <h4 class="text-2xl font-semibold">Operation failed</h4>
      <p>Please check the following error(s):</p>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li class="list-disc list-inside pl-4">
            <%= message %>
          </li>
          <% end %>
      </ul>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form.text_field :name, class: "form-input w-96" , placeholder: "Name" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :description, class: "form-textarea w-96" , rows: 10, placeholder: "Description (Optional)"
      %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.number_field :user_id, id: :category_user_id, value: current_user.id, type: :hidden %>
  </div>

  <%= form.submit class: "bg-blue-500 px-4 py-2 font-semibold text-white rounded hover:bg-blue-600 text-lg" %>
  
  <%= link_to "Back" , categories_path, class: "bg-blue-500 px-4 py-2 font-semibold text-white rounded hover:bg-blue-600 text-lg" %>

<% end %>