<h1>Categories#show</h1>

<br>
<h1>
  <%= @category.name %>
</h1>
<p>
  <%= @category.description %>
</p>
<%= link_to "Edit" , edit_category_path(@category), class: "btn btn-primary" %>
  <%= link_to "Back" , categories_path, class: "btn btn-secondary" %>
    <%= link_to "Delete" , category_path(@category), class: "btn btn-danger" , method: :delete, data: {
      confirm: "Are you sure?" } %>
      </div>
<br>
<br>
<%= link_to "Add New Task" , new_category_task_path(@category), class: "btn btn-primary" %>
